*{
  box-sizing: border-box;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 5px;
  padding-left: 300px;
  overflow: hidden;
  background-color: blue;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  font-size: 20px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

 /*.m1 ul{
  list-style-type: none;
  margin: 0px;
  overflow: hidden;
  padding-left: 300px;
  padding-bottom: 0px;
  background-color: blue;
 }
 .m1 li {
  float: left;
  padding: 10px;
}

.m1 a {
  display: inline-block;
  padding: 8px;
  color: white;
  font-size: 20px;
  text-decoration: none;
}*/
.secondary ul {
  list-style-type: none;
  overflow: hidden;
  height: 30px;
  padding-bottom: 50px;
  padding-right: 170px;
  background-color: orange;
  margin: 0px;
}
.secondary li {
  float: right;
  padding: 0px;
  text-align: center;
}
.secondary a {
  display: block;
  color: black;
  font-size: 23px;
  text-align: center;
  text-decoration: none;
}
.tertiary img{
  width: 100%;
  height: auto;
}
.third{
  border: solid;
  border-color: pink;
  background-color: pink;
  padding: 20px;
  padding-bottom: 400px;
  padding-left: 260px;
  padding-right: 180px;
  margin-bottom: 100px;
}
.third h1{
  text-align: center;
  color: gray;
}
.third p{
  font-size: 17.2px;
  text-align: center;
  line-height: 1.4;
  word-spacing: 0.6px;
  padding-right: 50px;
}
div.gallery2 {
  margin-left: 10px;
  border: 1px solid #ccc;
  margin-bottom: 0px;
  float: left;
  width: 480px;
}
div.gallery2 img {
  width: 100%;
  height: 100%;
}

div.desc1 {
  padding: 10px;
  margin-top: 0px;
  text-align: center;
  color: white;
  background-color: blue;
}
.para2{
   margin-left: 120px;
  margin-right: 120px;
  background-color: white;
}
.para2 h1,h2{
  text-align: center;
  color: grey;
}
.para2 p{
  font-size: 18px;
  text-align: center;
  word-spacing: 1px;
  line-height: 1.4;
  padding-left: 100px;
  padding-right: 100px;
}
.para3{
  background-color: gray;
  padding-top: 60px;
  padding-bottom: 60px;
}
.para3 img{
  background-color: gray;
  margin-left: 650px;
  margin-bottom: 0px;
  height: 45px;
}
.para3 h1,.para3 h2{
  text-align: center;
  color: white;
  font-weight: bold;
}
.para3 p{
  text-align: center;
  font-size: 20px;
  margin-left: 150px;
  margin-right: 150px;
  padding-top: 30px;
  margin-bottom: 0px;
}
.para3a{
  color: white;
}
.para3b{
 text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 5px;
  color: yellow; 
}
.para4{
  background-color: white;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 60px;
}
.para4 h1,.para4 h2{
  text-align: center;
  color: gray;
  font-weight: bolder;
}
.para4 img{
  padding-top: 50px;
  margin-left: 20px;
  padding-left: 150px;
}
.gallery,.gallery1{
  margin-left: 20px;
  margin-right: 0px;
  border: 1px solid white;
  float: left;
  width: 250px;
  padding-left: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 10px;
  align-content: center;
}

.gallery img,.gallery1 img{
  width: 60%;
  height: auto;
}

.desc {
  text-align: center;
  margin-right: 70px;
  margin-left: 0px;
  color: red;
  font-weight: bold;
}

.gallery1:hover,.gallery:hover{
  border:1px solid white;
   box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
}
.gallery1{
  margin-left: 230px;
}
.gallery{
  margin-right: 0px;
}
.last1{
  background-color: yellow;
  padding-top: 10px;
  padding-bottom: 40px;
}
.last1 img{
  float: right;
  margin-right: 150px;
}
.last2{
  background-color: blue;
  padding: 15px;
  padding-left: 150px;
  font-weight: bold;
  color: white;
}
.last2child{
  margin-right: 150px;
  float: right;
}